<div class="card_task_dashboard text-black display">
<div>
  <div>
    <b><%= task.name.capitalize %></b>
  </div>
  <div>Estimation: <%= task.estimation.utc.strftime("%Hh %Mmin")  %></div>
</div>
    <div class="btn_setting ">
    <%= link_to edit_project_task_path(task.project, task) do %>
      <i class="fa fa-cog text-black" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
