<% if has_selected_mit %>
  <!-- Put here a display of projects with the associated tasks -->
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="project">

        </div>
      </div>
    </div>
  <% @task.mit_task = true %>
<% else %>
  <!-- Put here a display of projects with the associated tasks -->
  <% @task.secondary_task = true %>
<% end %>
