<% content_for :body_id, "dashboard_user" %>
<div class="gradient-background">
	<div class="container text-black">
		<div class=" full-sized margin-top-max">
			  <div class="row">
			   <div class="col-xs-12 col-sm-offset-4 col-sm-4 bg-white padded cornerized">
			      <h3 class="text-center text-black margin-botto">Create a new project</h3>
			      <%= render "form", project: @project %>
			   </div>
			 </div>
		</div>
	</div>
</div>

