/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  margin-top: 120px;
}
.alert-info {
  background: $green;
  z-index: 100;
  border-color: none;
}
.alert-warning {
  background: $red;
  z-index: 100;
  border-color: none;
}
