// attachinary 

.attachinary_container ul {
  list-style: none;
  padding: 15px;
  text-align: center;
  margin: 15px;
}

.attachinary_container a {
  padding-left: 30px;
}

.attachinary_container img {
  border-radius: 4px;
  width: 100px;
  height: 75px;
}
