#project_price_per_day {
   margin-top: 10px
}

#start-start {
  color: #19a598;
}


.form-inline {
  display: flex;
  justify-content: space-between;
}

.form-control.date.optional {
  flex: 1 0 auto;
}

.pro-btn {
  margin-top: 10px;
  background-color: emerald;
}


.full-btn {

    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px grey;
    width: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: $java;

}

.ma-btn {

    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    // border: 2px solid;
    width: auto;
    -webkit-font-smoothing: antialiased;
    background: 0 0;
    color: $java ;
    background-color: transparent;
    border-color: #java;

}

.ma-btn-2 {

    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    // border: 2px solid;
    width: auto;
    -webkit-font-smoothing: antialiased;
    background: 0 0;
    color: $java ;
    background-color: transparent;
    border-color: #java;

}

.gd-btn {

    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid;
    width: auto;
    -webkit-font-smoothing: antialiased;
    background: 0 0;
    color: white;
    background-color: transparent;
    border-color: white;

}

.gd-btn:hover {

    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px grey;
    width: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background: linear-gradient(135deg, $emerald, $java);

    }

.btn-medium {
  background-color: rgba(82, 196, 132, 1.00);
  color: white;
  font-weight: bolder;
  border: 1px solid rgba(82, 196, 132, 1.00);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  border-radius: 50px;
  opacity: 1;
  margin-bottom: 15px;
}

.btn-medium:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  border: 1px solid rgba(82, 196, 132, 1.00);
  background-color: rgba(82, 196, 132, 1.00);
}

.btn-medium-red {
  background-color: rgba(210, 51, 51, 1.00);
  color: white;
  font-weight: bolder;
  border: 1px solid rgba(210, 51, 51, 1.00);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  border-radius: 50px;
  opacity: 1;
  margin-bottom: 15px;
}

.btn-medium-red:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  border: 1px solid rgba(210, 51, 51, 1.00);
  background-color: rgba(210, 51, 51, 1.00);
}



.btn-fb {
    color: #fff;
    background-color: #4568b2;
    padding: 12px 22px;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid;
    width: auto;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px 0 #354C8C;
}

.btn-fb:hover {
  text-decoration: none;
  color : white;
}

.btn-timer-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn-timer {
  font-size: 15px;
}

#button-lets-go {
  margin-top: 40px;
}
