.lign_separation {
border-top-style: solid;
padding-top: 12px;
}


.active{
  font-weight: bolder;
}

.card_task_dashboard {
background-color: white;
border-radius: 5px;
padding: 14px;
margin: 32px;
box-shadow: 0px 1px 10px grey;

}

#tache_form {
  margin-top: 64px;
}

.test {
  color: black;
}

// Debut du script pour la data du dashboard

.graph {
  position: relative;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph svg {
  width: 100%;
  height: 100%;
}

.graph svg text {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.5em;
  fill: #AEB8B8;
}

.graph svg .background {
  fill: #264A60;
}

.graph svg .visual {
  fill: #EFC100;
}

// .la {
// position: sticky !important; /* !important to override Gmaps inline CSS */
// top: 0 !important;
// }
