.task_card {
    background: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 10px;
    max-width: 70%;
    text-align: center;
    color: black;
    border-radius: 5px;
    opacity: 0.8;

	& .l1 {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 20px 30px 20px 20px;
	    border-bottom: 1px solid grey;
	    margin-left: -10px;
	    margin-right: -10px;

	    & .task_name {
	        flex: 1 0° auto;
	    }

	    & .duration {
	        // padding: 10px;
          flex: 0 0 15%;
	        // position: relative;
    		// left: 5%;
	    }

	    & .timer_btn {
	        // position: relative;
    		// left: -5%;
	        font-size: 45px;
	    }

      &.l1-third-child{
          flex: 1 0 35%;
      }

	   }

	& .l2 {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding-top: 20px 10px;

	    & .project_name {
	        padding-top: 10px;
	    }



	   }


}

.task-title-dashboard{
  font-size: 30px;
}

