.btn-size{
  font-size: 15px!important;
}

.controls-timer form:last-child button {
  padding: 0 !important;
}

.controls-timer form:first-child button {
  padding: 0 10px !important;

}

.controls-timer {
  height: 56px;
  & button:active {
    box-shadow: none;
}
}

.clockdiv {
  display: flex;
  font-size: 30px;
  margin-right: 10px;
  min-width: 80px;
}


.clockdiv {
  // display: flex;
  // flex-direction: row;
  height: 100%;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 1.4em;
  background: #19a598;
  border-radius: 3px;
}

.clockdiv > div {
  //padding: 10px;
  // border-radius: 3px;
  // background: #00BF96;
  // display: inline-block;
}

.clockdiv div > span {
  padding: 8px;
  // display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

#toggle-timer{
  display: none;
  flex: 0 0 20%;
  & .timer-button-inline form button {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15px !important;
    & > *:nth-child(2) {
    padding: 0 5px;
    }
  }

  & .button-dashboard-padding {
    padding: 0 10px;
  }
}

.timer-button-inline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#button-restart, #button-finish {
  padding: 0px;
}


